/* ------------------------------
PROFIL
------------------------------ */
.foto-profil {
    position: relative;
    padding: 10px;
}
.foto-utama {
    max-width: 250px;
    margin: 0 auto;
    border-radius: 50%;
}
.foto-aktif {
    width: 100%;
}
.tombol-ganti {
    color: #222D32;
    font-size: 16px;
    font-family: Hind, sans-serif;
    font-weight: 300;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.tombol-ganti span {
    font-size: 20px;
}
.foto-utama:hover .foto-aktif {
    opacity: 0.1;
}
.foto-utama:hover .tombol-ganti {
    opacity: 1;
}
.btn-profil {
    padding: 0 20px 20px;
}